.productDetail-page-layout {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.productDetail-page-comments-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary100);
  gap: 8px;
}

.productDetail-info-layout {
  display: flex;
  gap: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray200);
}

.productDetail-info-left {
  width: 486px;
  height: 486px;
  flex: 1;
  object-fit: cover;
  border-radius: 16px;
}

.productDetail-info-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.productDetail-info-right-top {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
}

.product-info-name-price {
  color: var(--secondary800);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray200);
}

.product-info-name-kebab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-info-name {
  margin: 0;
  font-size: 24px;
}

.product-info-price {
  margin: 0;
  font-size: 40px;
}

.product-info-category-description {
  font-size: 16px;
  color: var(--secondary600);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-info-category-tag {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-info-category {
  font-weight: 600;
  margin: 0;
}

.product-info-description {
  margin: 0;
  font-weight: 400;
}

.product-info-owner-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-info-owner-right {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding: 4px 12px;
  border: 1px solid var(--secondary200);
  border-radius: 35px;
}

.productDetail-question-category-textarea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productDetail-question-textarea {
  width: 100%;
  height: 104px;
  border: none;
  border-radius: 12px;
  resize: none;
  padding: 16px 24px;
  background-color: var(--gray100);
  color: var(--secondary400);
  font-size: 16px;
  font-weight: 400;
}

.add-question-btn-area {
  text-align: right;
}

.add-question-btn {
  background-color: var(--primary100);
}

.productDetail-comment-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary800);
}

.productDetail-comment-content-userInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 0px;
  border-bottom: 1px solid var(--secondary300);
}

.productDetail-comment-dropdown {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--gray300);
  width: 139px;
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: 2;
}

.productDetail-comment-dropdown button {
  padding-top: 16px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary500);
}

.productDetail-page-back-btn-area {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

@media screen and (max-width: 1199px) {
  .productDetail-info-left {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 767px) {
  .productDetail-info-left {
    width: 343px;
    height: 343px;
  }
}
