:root {
  --primary100: #3692ff;
}

html,
body {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1520px;
  width: 80%;
  margin: 0 auto;
}
