:root {
  --primary100: #3692ff;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
}

.input {
  width: 325px;
  height: 42px;
  padding: 9px 40px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
}

.wrap {
  padding: 0 240px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
}
