.item-page-layout {
  margin-top: 70px;
  height: 1206px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product-category-description {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.productBest-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-best-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
}

.product-all-menus-btn {
  background-color: var(--primary100);
  color: white;
  padding: 12px 23px;
  font-weight: 600;
  font-size: 16px;
  height: 42px;
  border-radius: 8px;
}

.product-search-form {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 9px;
  width: 24px;
  height: 24px;
}

.product-all-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.product-all {
  display: flex;
  justify-content: space-between;
}

.product-all-topbar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-all-menus {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 12px 10px;
  width: 130px;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
}

.dropdown-menus {
  position: absolute;
  left: 0;
  top: 50px;
}

.dropdown-menu {
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e5e5e5;
  background-color: white;
  z-index: 10;
}

.dropdown-menu.top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.dropdown-menu.bottom {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

@media screen and (max-width: 1199px) {
  .product-best-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-all-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .product-best-list {
    display: block;
  }
  .product-all-list {
    margin-top: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-all {
    position: relative;
  }

  .product-search-form {
    position: absolute;
    left: 0;
    top: 58px;
  }

  .dropdown {
    position: absolute;
    right: 0;
    top: 58px;
  }

  .dropdown-btn {
    width: 42px;
    height: 42px;
    padding: 9px;
  }

  .dropdown-menus {
    left: -88px;
  }
}
