.homepage-layout {
  margin-top: 70px;
}

.landing .description,
.section .description {
  font-size: 40px;
  font-weight: 700;
  color: var(--secondary700);
}

.landing {
  background-color: #cfe5ff;
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.landing.landing-top {
  top: 70px;
  height: 540px;
}

.landing.landing-bottom {
  height: 540px;
}

.landing img {
  vertical-align: bottom;
  width: 100%;
}

.landing .landing-body {
  display: flex;
  gap: 20px;
}

.landing-top-btn {
  background-color: var(--primary100);
  white-space: nowrap;
}

.landing-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.landing-left .description-area,
.section .description-area {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 138px 0px;
}

.section .sub-description {
  color: var(--secondary700);
  font-size: 24px;
  font-weight: 500;
}

.section.hot-item {
  margin-top: 610px;
}

.section .category {
  color: var(--primary100);
}

.section.search .search-left {
  text-align: right;
}

@media screen and (max-width: 1199px) {
  .landing.landing-top,
  .landing.landing-bottom {
    height: 771px;
  }

  .landing.landing-top,
  .landing.landing-bottom {
    align-items: normal;
  }

  .landing-top .landing-body,
  .landing-bottom .landing-body {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .landing-left {
    align-items: center;
    padding-top: 70px;
    gap: 12px;
  }
  .landing-left .description-area {
    flex-direction: row;
  }

  .section.hot-item {
    margin-top: 800px;
  }

  .landing.landing-bottom .description-area {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
}
